<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>Kooffee!</title>

</head>

<body>

  <div class="container-fluid">
    <div class="row" id="navbar">
      <div class="col-10" id="navbar-brand-col">
        <span class="navbar-brand">
          <a href="/"><img src="/media/logo.png" alt="" width="83px" height="72px"></a>
        </span>
      </div>

      <div class="col-2 text-center" id="accounts-nav">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-login-signup"><span>Account</span></a>
      </div>

    </div>
  </div>

  <!-- Modal for Signup/Login -->
  <div class="modal fade" id="modal-login-signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div>
          <ul class="nav nav-tabs">
            <li id="tab1" class="tab-style p-3"><a href="#login" data-toggle="tab">Log
                In</a></li>
            <li id="tab2" class="tab-style p-3"><a href="#signup" data-toggle="tab">Sign Up</a></li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane fade active in" id="login">
              <form class="form-horizontal" id="login-form">
                <fieldset>
                  <!-- Sign In Form -->
                  <div class="group">
                    <input required="" class="input" type="email" id="login-email"><span class="highlight"></span><span
                      class="bar"></span>
                    <label class="label" id="login-email-label" for="login-email">Email</label>
                  </div>
                  <div class="group">
                    <input required="" class="input" type="password" id="login-password"><span
                      class="highlight"></span><span class="bar"></span>
                    <label class="label" id="login-password-label" for="login-password">Password</label>
                  </div>
                  <!-- Button -->
                  <div class="control-group">
                    <label class="control-label" for="login"></label>
                    <div class="controls">
                      <button id="login" name="login" class="btn btn-chalk btn-block">Log
                        In</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="tab-pane fade" id="signup">
              <form class="form-horizontal" id="signup-form">
                <fieldset>
                  <!-- Sign Up Form -->
                  <div class="group">
                    <input required="" class="input" type="text" id="signup-firstname"><span
                      class="highlight"></span><span class="bar"></span>
                    <label class="label" id="signup-firstname-label" for="signup-firstname">First Name</label>
                  </div>
                  <div class="group">
                    <input required="" class="input" type="text" id="signup-lastname"><span
                      class="highlight"></span><span class="bar"></span>
                    <label class="label" id="signup-lastname-label" for="signup-lastname">Last Name</label>
                  </div>
                  <div class="group">
                    <input required="" class="input" type="email" id="signup-email"><span class="highlight"></span><span
                      class="bar"></span>
                    <label class="label" id="signup-email-label" for="signup-email">Email</label>
                  </div>
                  <div class="group">
                    <input required="" class="input" type="password" id="signup-password"><span
                      class="highlight"></span><span class="bar"></span>
                    <label class="label" id="signup-password-label" for="signup-password">Password</label>
                  </div>
                  <br>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="signup-admin" value="TEST">
                    <label class="form-check-label gray-text" for="signup-admin">Admin Account</label>
                  </div>
                  <!-- Button -->
                  <div class="control-group">
                    <label class="control-label" for="signup-btn"></label>
                    <div class="controls">
                      <button type="submit" id="signup-btn" name="signup-btn" class="btn btn-chalk btn-block">Sign
                        Up</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{{ body }}}

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/admin.js"></script>
  <script src="/js/cart.js"></script>

</body>

</html>