<br>
<section class="container-fluid content-section">
    <div class="row">
        <div class="col-12">
            <h1 class="section-header"><u>CART</u></h1>
        </div>
    </div>
    <div class="row cart-row">
        <div class="col-4 col-sm-6 col-lg-8">
            <h4 class="cart-item cart-header cart-column">ITEM</h4>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            <h4 class="cart-item cart-header cart-column">QUANTITY</h4>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            <h4 class="cart-item cart-header cart-column">PRICE</h4>
        </div>
    </div>
    <div class="row cart-items">
        <div class="col-4 col-sm-6 col-lg-8" id="item-name">
        </div>
        <div class="col-4 col-sm-3 col-lg-2" id="item-quantity">
        </div>
        <div class="col-4 col-sm-3 col-lg-2" id="item-price">
        </div>
    </div>
    <div class="row cart-total">
        <div class="col-4 col-sm-6 col-lg-8"></div>
        <div class="col-4 col-sm-3 col-lg-2"></div>
        <div class="col-4 col-sm-3 col-lg-2">
            <h2 class="cart-total-title pt-5">Total: $<span id="cart-total-price">0</span></h2>
        </div>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>