<div class="container-fluid">
    <div class="row" id="navbar">
        <div class="col-8 p-0">
            <span class="navbar-brand m-0">
                <img src="/media/logo.png" alt="" width="83px" height="72px">
            </span>
        </div>
        <div class="col-1 text-center">
            <a class="nav-link" href="#" id="login"><span>Login</span></a>
        </div>
        <div class="col-1 text-center">
            <a class="nav-link" href="#" id="signup"><span>Signup</span></a>
        </div>
    </div>
</div>

<div id="container">
    <video autoplay muted loop>
        <source src="/media/coffee.mp4" type="video/mp4">
    </video>
    <div id="overlay">
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row" id="categories">
        <div class="col-4 category">
            <a class="nav-link active" href="#" id="drinks">Drinks</a>
        </div>
        <div class="col-4 category">
            <a class="nav-link" href="#" id="foods">Foods</a>
        </div>
        <div class="col-4 category">
            <a class="nav-link" href="#" id="products">Products</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="options">
    </div>
</div>

<script src="/js/bideo.js"></script>