* {
  margin: 0;
  padding: 0;
}

#navbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a:hover {
  background-image: url("../media/background.jpg");
  color: white;
}

#container {
  overflow: hidden;
  height: 25vh;
  background-image: url("../media/background.jpg");
  position: relative;
}

video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#categories {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories a:hover {
  background-image: url("../media/background.jpg");
  color: white;
}

#categories .active {
  background-image: url("../media/background.jpg");
  color: white;
}

#options {
  background-image: url("../media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}
