* {
  margin: 0;
  padding: 0;
}

#container {
  overflow: hidden;
  height: 300px;
  background: #edeae8;
  position: relative;
}

video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
