* {
  margin: 0;
  padding: 0;
}

/* Home page CSS */

#navbar {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a:hover {
  background-image: url("../media/background.jpg");
  color: white;
}

#container {
  overflow: hidden;
  height: 25vh;
  background-image: url("../media/background.jpg");
  position: relative;
}

video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#categories {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories a:hover {
  background-image: url("../media/background.jpg");
  color: white;
}

#categories .active {
  background-image: url("../media/background.jpg");
  color: white;
}

.btn-chalk {
  background-image: url("../media/background.jpg");
  color: white;
}

#options {
  background-image: url("../media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  font-family: "Fredericka the Great", cursive;
}

#options h3,
#options h5 {
  color: white;
}

/* Admin page CSS */
#items-list-price-1 {
  border-right: 2px solid white;
}
#items-list-name-2 {
  border-left: 2px solid white;
}

.white-border {
  border-bottom: 2px solid white;
  margin-bottom: 25px;
}

#admin-view-inventory a:hover {
  background-color: black;
  color: white;
}

#admin-view-inventory .active {
  background-color: black;
  color: white;
}

/* Modals CSS */
#modal-login-signup .tab-style {
  font-size: 20px;
  width: 50%;
  background-color: #f2f2f2;
  text-align: center;
}
#modal-login-signup .nav-tabs > li > a {
  margin-right: 0px;
  color: grey;
}

#modal-login-signup .nav-tabs > li.active > a,
#modal-login-signup .nav-tabs > li.active > a:focus,
#modal-login-signup .nav-tabs > li.active > a:hover {
  color: grey;
  font-weight: bold;
}

#modal-login-signup .login-shadow {
  -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  z-index: 1;
}

#modal-login-signup .signup-shadow {
  -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

#modal-login-signup .group {
  position: relative;
  margin-top: 30px;
}

#modal-login-signup .input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #ffff;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

#modal-login-signup .input:focus {
  outline: none;
}

#modal-login-signup .label {
  color: #757575;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: -10px;
  top: 10px;
  transition: all 0.2s ease;
}

#modal-login-signup .input:focus ~ .label,
#modal-login-signup .input.used ~ .label {
  top: -20px;
  transform: scale(0.75);
  left: -15px;
  color: white;
}

#modal-login-signup .bar {
  position: relative;
  display: block;
  width: 100%;
}

#modal-login-signup .bar:before,
#modal-login-signup .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: white;
  transition: all 0.2s ease;
}

#modal-login-signup .bar:before {
  left: 50%;
}

#modal-login-signup .bar:after {
  right: 50%;
}

#modal-login-signup .input:focus ~ .bar:before,
#modal-login-signup .input:focus ~ .bar:after {
  width: 50%;
}

#modal-login-signup .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

#modal-login-signup .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  #modal-login-signup #log-sign {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 768px) {
  #modal-login-signup #log-sign .modal-dialog {
    width: 500px;
  }

  #modal-login-signup .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#modal-login-signup .modal-body {
  background-image: url("https://images.pexels.com/photos/1235706/pexels-photo-1235706.jpeg?cs=srgb&dl=blurred-background-brewed-coffee-caffeine-1235706.jpg&fm=jpg");
  background-size: cover;
  z-index: 4;
  opacity: 0.75;
}
/* CART */
.section-header {
  text-align: center;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
  text-align: center;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.cart-quantity {
  width: 35%;
  margin-left: 10px;
  text-align: center;
  margin-top: 20px;
  border-bottom: #333;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: -15px;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
  margin-left: 20px;
  margin-top: -15px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
  border-radius: 5px;
}
